[submodule "third_party/Quatro"]
	path = third_party/Quatro
	url = https://github.com/se7oluti0n/Quatro.git
[submodule "third_party/nano_gicp"]
	path = third_party/nano_gicp
	url = https://github.com/se7oluti0n/nano_gicp.git 
[submodule "third_party/FAST_LIO_ROS2"]
	path = third_party/FAST_LIO_ROS2
	url = https://github.com/Ericsii/FAST_LIO_ROS2.git
  branch = ros2
[submodule "third_party/teaserpp"]
	path = third_party/teaserpp
	url = https://github.com/MIT-SPARK/TEASER-plusplus.git
[submodule "third_party/livox_ros_driver2"]
	path = third_party/livox_ros_driver2
	url = https://github.com/Ericsii/livox_ros_driver2.git
